## Import Stuff

In [1]:
import pandas as pd
import random
import math

In [2]:
df = pd.read_csv("D:\\Fourth Year\\Fall\\MATH 4P81 (Sampling Theory)\\Final Project\\FinalProject_Data.csv")
df

                 Team        Opponent  PF**  Seed  TournamentYear
0             Vermont     Florida St.    69    13            2019
1             Houston        Kentucky    58     3            2019
2             Houston     Georgia St.    84     3            2019
3             Houston        Ohio St.    74     3            2019
4              Temple         Belmont    70    11            2019
..                ...             ...   ...   ...             ...
263  South Dakota St.        Ohio St.    73    12            2018
264       Georgia St.      Cincinnati    53    15            2018
265           Gonzaga  UNC Greensboro    68     4            2018
266           Gonzaga        Ohio St.    90     4            2018
267           Gonzaga     Florida St.    60     4            2018

[268 rows x 5 columns]

## Summary Statistics

In [3]:
mean = df['PF**'].mean()
stdev = df['PF**'].std()
count = df['PF**'].count()

print(" mean = {}\n".format(mean),"standard deviation = {}\n".format(stdev),"N = {}\n".format(count))

 mean = 70.3544776119403
 standard deviation = 11.921611104904217
 N = 268

## Create Simple Random Sample Without Replacement

In [4]:
df['y-ybar'] = ''
df['y-ybar_sq'] = ''
for i in range(0,268):
    df['y-ybar'][i] = df['PF**'][i]-mean
    df['y-ybar_sq'][i] = df['y-ybar'][i]**2

df

<ipython-input-4-c4bcecd1c7ee>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y-ybar'][i] = df['PF**'][i]-mean
<ipython-input-4-c4bcecd1c7ee>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y-ybar_sq'][i] = df['y-ybar'][i]**2

,Team,Opponent,PF**,Seed,TournamentYear,y-ybar,y-ybar_sq
0,Vermont,Florida St.,69,13,2019,-1.35448,1.83461
1,Houston,Kentucky,58,3,2019,-12.3545,152.633
2,Houston,Georgia St.,84,3,2019,13.6455,186.2
3,Houston,Ohio St.,74,3,2019,3.64552,13.2898
4,Temple,Belmont,70,11,2019,-0.354478,0.125654
...,...,...,...,...,...,...,...
263,South Dakota St.,Ohio St.,73,12,2018,2.64552,6.99879
264,Georgia St.,Cincinnati,53,15,2018,-17.3545,301.178
265,Gonzaga,UNC Greensboro,68,4,2018,-2.35448,5.54356
266,Gonzaga,Ohio St.,90,4,2018,19.6455,385.947
267,Gonzaga,Florida St.,60,4,2018,-10.3545,107.215

In [5]:
s_sq_numerator = df['y-ybar_sq'].sum()
S_sq = s_sq_numerator/(count-1)
S_sq

142.12481133657553

In [6]:
#Athletic Director wishes to have a standard error of no greater than 4
n_SRS = S_sq/(4+(S_sq/count))
n_SRS = math.ceil(n_SRS)
n_SRS

32

In [7]:
random.seed(2020)

In [8]:
SRSdf_drop = df
SRSdf = pd.DataFrame(index = range(1,33),columns=['Points', 'Seed', 'Year'])

i=0
for i in range(0,32):
    n = random.randint(0,267-i)
    SRSdf['Points'][i+1]= SRSdf_drop['PF**'][n]
    SRSdf['Seed'][i+1]= SRSdf_drop['Seed'][n]
    SRSdf['Year'][i+1]= SRSdf_drop['TournamentYear'][n]
    SRSdf_drop = SRSdf_drop.drop(n)
    SRSdf_drop.reset_index(drop=True, inplace=True)
    i+=1

In [9]:
SRSdf

   Points Seed  Year
1      49   16  2019
2      68    7  2018
3      46   16  2018
4      78   14  2018
5      71    1  2018
6      67    9  2018
7      73   16  2019
8      64    4  2019
9      68    4  2018
10     62   16  2019
11     63    3  2019
12     81    5  2018
13     62    5  2019
14     55   11  2018
15     61    3  2019
16     55   14  2019
17     56    7  2019
18     63    1  2019
19     59    8  2018
20     83   10  2018
21     71    9  2019
22     75    4  2018
23     64   16  2018
24     68   12  2018
25     52    6  2018
26     89    2  2018
27     61    3  2018
28     57   11  2019
29     89   13  2018
30     88    1  2019
31     44   15  2019
32     85    1  2019

In [10]:
SRSmean = SRSdf['Points'].mean()
SRSstdev = SRSdf['Points'].std()
SRScount = SRSdf['Points'].count()

print(" mean = {}\n".format(SRSmean),"standard deviation = {}\n".format(SRSstdev),"n = {}\n".format(SRScount))

 mean = 66.46875
 standard deviation = 12.307837458433784
 n = 32

In [11]:
SRSdf['y-ybar'] = ''
SRSdf['y-ybar_sq'] = ''
for i in range(1,33):
    SRSdf['y-ybar'][i] = SRSdf['Points'][i] - SRSmean
    SRSdf['y-ybar_sq'][i] = SRSdf['y-ybar'][i]**2
    
s_sq = (SRSdf['y-ybar_sq'].sum())/(SRScount-1)

var_ybar = ((1-SRScount/count)*s_sq)/SRScount
var_ybar

4.168604902654068

In [12]:
se_ybar = (math.sqrt(s_sq)/math.sqrt(SRScount))*math.sqrt(1-(SRScount/count))
se_ybar

2.0417161660363243

## Normality Test

In [13]:
## Shapiro-Wilk

data = SRSdf['Points']
from scipy.stats import shapiro
stat, p = shapiro(data)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print("Data follows Normal Distribution")
else:
    print("Data does not follow Normal Distribution")

stat=0.965, p=0.379
Data follows Normal Distribution

## Create Stratified Random Sample w/ Proportional Allocation

In [14]:
random.seed(2021)

In [15]:
df['SeedStratum'] = ''

for i in range(0,268):
    if df['Seed'][i] <6:
        df['SeedStratum'][i] = "1-5"
    elif df['Seed'][i] <11:
        df['SeedStratum'][i] = "6-10"
    elif df['Seed'][i] >10:
        df['SeedStratum'][i] = "11-16"
        
df

<ipython-input-15-041f60786ec4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SeedStratum'][i] = "11-16"
<ipython-input-15-041f60786ec4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SeedStratum'][i] = "1-5"
<ipython-input-15-041f60786ec4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SeedStratum'][i] = "6-10"

,Team,Opponent,PF**,Seed,TournamentYear,y-ybar,y-ybar_sq,SeedStratum
0,Vermont,Florida St.,69,13,2019,-1.35448,1.83461,11-16
1,Houston,Kentucky,58,3,2019,-12.3545,152.633,1-5
2,Houston,Georgia St.,84,3,2019,13.6455,186.2,1-5
3,Houston,Ohio St.,74,3,2019,3.64552,13.2898,1-5
4,Temple,Belmont,70,11,2019,-0.354478,0.125654,11-16
...,...,...,...,...,...,...,...,...
263,South Dakota St.,Ohio St.,73,12,2018,2.64552,6.99879,11-16
264,Georgia St.,Cincinnati,53,15,2018,-17.3545,301.178,11-16
265,Gonzaga,UNC Greensboro,68,4,2018,-2.35448,5.54356,1-5
266,Gonzaga,Ohio St.,90,4,2018,19.6455,385.947,1-5
267,Gonzaga,Florida St.,60,4,2018,-10.3545,107.215,1-5

In [16]:
count_top5 = 0
count_6to10 = 0
count_bottom6 = 0

for i in range(0,268):
    if df['SeedStratum'][i] == "1-5":
        count_top5 += 1
    elif df['SeedStratum'][i] == "6-10":
        count_6to10 += 1
    elif df['SeedStratum'][i] == "11-16":
        count_bottom6 += 1
        
print("Top 5 = {}\n".format(count_top5), "Middle 5 = {}\n".format(count_6to10), "Bottom 6 = {}\n".format(count_bottom6))

Top 5 = 122
 Middle 5 = 67
 Bottom 6 = 79

In [17]:
weight_top5 = count_top5/count
weight_6to10 = count_6to10/count
weight_bottom6 = count_bottom6/count

print("Top 5 Weight = {}\n".format(weight_top5), "Middle 5 Weight = {}\n".format(weight_6to10), "Bottom 6 Weight = {}\n".format(weight_bottom6))

Top 5 Weight = 0.4552238805970149
 Middle 5 Weight = 0.25
 Bottom 6 Weight = 0.2947761194029851

In [18]:
#Use n = 32 from simplified taking 11.94% of N
n_top5 = weight_top5*32
n_6to10 = weight_6to10*32
n_bottom6 = weight_bottom6*32

# we will round to the nearest integer so 15, 8, 9 respectively
print("n Top 5 = {}\n".format(n_top5), "n Middle 5 = {}\n".format(n_6to10), "n Bottom 6 = {}\n".format(n_bottom6))

n Top 5 = 14.567164179104477
 n Middle 5 = 8.0
 n Bottom 6 = 9.432835820895523

In [19]:
Strat_top5 = df[df.SeedStratum == '1-5']
Strat_top5.reset_index(drop=True, inplace=True)

Strat_6to10 = df[df.SeedStratum == '6-10']
Strat_6to10.reset_index(drop=True, inplace=True)

Strat_bottom6 = df[df.SeedStratum == '11-16']
Strat_bottom6.reset_index(drop=True, inplace=True)

In [20]:
total_top5_mean = Strat_top5['PF**'].mean()
total_top5_stdev = Strat_top5['PF**'].std()

total_6to10_mean = Strat_6to10['PF**'].mean()
total_6to10_stdev = Strat_6to10['PF**'].std()

total_bottom6_mean = Strat_bottom6['PF**'].mean()
total_bottom6_stdev = Strat_bottom6['PF**'].std()

print("Top 5 Mean = {} Top 5 Stdev = {}\n".format(total_top5_mean,total_top5_stdev), "Middle 5 Mean = {} Middle 5 Stdev = {}\n".format(total_6to10_mean,total_6to10_stdev), "Bottom 6 Mean = {} Bottom 6 Stdev = {}".format(total_bottom6_mean,total_bottom6_stdev))

Top 5 Mean = 74.19672131147541 Top 5 Stdev = 11.582003241180498
 Middle 5 Mean = 70.01492537313433 Middle 5 Stdev = 11.39177339709275
 Bottom 6 Mean = 64.70886075949367 Bottom 6 Stdev = 10.63635745767991

In [21]:
Strat_top5_drop = Strat_top5
Strat_6to10_drop = Strat_6to10
Strat_bottom6_drop = Strat_bottom6

Strat_top5_selected = pd.DataFrame(index = range(1,16),columns=['Points', 'Seed', 'Year'])
Strat_6to10_selected = pd.DataFrame(index = range(1,9),columns=['Points', 'Seed', 'Year'])
Strat_bottom6_selected = pd.DataFrame(index = range(1,10),columns=['Points', 'Seed', 'Year'])

i=0
for i in range(0,15):
    n = random.randint(0,121-i)
    Strat_top5_selected['Points'][i+1]= Strat_top5_drop['PF**'][n]
    Strat_top5_selected['Seed'][i+1]= Strat_top5_drop['Seed'][n]
    Strat_top5_selected['Year'][i+1]= Strat_top5_drop['TournamentYear'][n]
    Strat_top5_drop = Strat_top5_drop.drop(n)
    Strat_top5_drop.reset_index(drop=True, inplace=True)
    i+=1
    
i=0
for i in range(0,8):
    n = random.randint(0,66-i)
    Strat_6to10_selected['Points'][i+1]= Strat_6to10_drop['PF**'][n]
    Strat_6to10_selected['Seed'][i+1]= Strat_6to10_drop['Seed'][n]
    Strat_6to10_selected['Year'][i+1]= Strat_6to10_drop['TournamentYear'][n]
    Strat_6to10_drop = Strat_6to10_drop.drop(n)
    Strat_6to10_drop.reset_index(drop=True, inplace=True)
    i+=1
    
i=0
for i in range(0,9):
    n = random.randint(0,78-i)
    Strat_bottom6_selected['Points'][i+1]= Strat_bottom6_drop['PF**'][n]
    Strat_bottom6_selected['Seed'][i+1]= Strat_bottom6_drop['Seed'][n]
    Strat_bottom6_selected['Year'][i+1]= Strat_bottom6_drop['TournamentYear'][n]
    Strat_bottom6_drop = Strat_bottom6_drop.drop(n)
    Strat_bottom6_drop.reset_index(drop=True, inplace=True)
    i+=1

In [22]:
ybar_top5 = Strat_top5_selected['Points'].mean()
ybar_6to10 = Strat_6to10_selected['Points'].mean()
ybar_bottom6 = Strat_bottom6_selected['Points'].mean()

print('Mean Top 5 = {}\n'.format(ybar_top5), 'Mean Middle 5 = {}\n'.format(ybar_6to10), 'Mean Bottom 6 = {}\n'.format(ybar_bottom6))

Mean Top 5 = 74.93333333333334
 Mean Middle 5 = 70.5
 Mean Bottom 6 = 63.22222222222222

In [23]:
frames = [Strat_top5_selected, Strat_6to10_selected, Strat_bottom6_selected]
Strat_total = pd.concat(frames)
Strat_total.reset_index(drop=True, inplace=True)
Strat_total

   Points Seed  Year
0      99    3  2018
1      62    5  2019
2      81    5  2018
3      80    1  2018
4      81    2  2018
5      80    2  2019
6      64    5  2019
7      68    4  2018
8      78    3  2018
9      81    1  2019
10     71    2  2019
11     75    4  2018
12     83    1  2018
13     67    1  2019
14     54    5  2019
15     83    7  2018
16     52    6  2018
17     58    9  2018
18     95    9  2019
19     86    9  2018
20     68    7  2018
21     61    6  2019
22     61    6  2019
23     55   15  2019
24     57   14  2019
25     78   14  2018
26     43   16  2018
27     56   16  2019
28     64   13  2018
29     69   11  2018
30     74   16  2019
31     73   12  2019

In [24]:
Strat_total_mean = Strat_total['Points'].mean()
Strat_total_stdev = Strat_total['Points'].std()
Strat_total_count = Strat_total['Points'].count()

print(" stratified mean = {}\n".format(Strat_total_mean),"stratified standard deviation = {}\n".format(Strat_total_stdev),"stratified n = {}\n".format(Strat_total_count))

 stratified mean = 70.53125
 stratified standard deviation = 12.89156857494776
 stratified n = 32

In [25]:
#Top 5
Strat_top5_selected['y-ybar'] = ''
Strat_top5_selected['y-ybar_sq'] = ''
for i in range(1,16):
    Strat_top5_selected['y-ybar'][i] = Strat_top5_selected['Points'][i] - ybar_top5
    Strat_top5_selected['y-ybar_sq'][i] = Strat_top5_selected['y-ybar'][i]**2
    
s_strat1_sq = (Strat_top5_selected['y-ybar_sq'].sum())/(15-1)

var_ybar_strat1 = ((1-15/122)*s_strat1_sq)/15


#Middle 5
Strat_6to10_selected['y-ybar'] = ''
Strat_6to10_selected['y-ybar_sq'] = ''
for i in range(1,9):
    Strat_6to10_selected['y-ybar'][i] = Strat_6to10_selected['Points'][i] - ybar_6to10
    Strat_6to10_selected['y-ybar_sq'][i] = Strat_6to10_selected['y-ybar'][i]**2
    
s_strat2_sq = (Strat_6to10_selected['y-ybar_sq'].sum())/(8-1)

var_ybar_strat2 = ((1-8/67)*s_strat2_sq)/8



#Bottom 6
Strat_bottom6_selected['y-ybar'] = ''
Strat_bottom6_selected['y-ybar_sq'] = ''
for i in range(1,10):
    Strat_bottom6_selected['y-ybar'][i] = Strat_bottom6_selected['Points'][i] - ybar_bottom6
    Strat_bottom6_selected['y-ybar_sq'][i] = Strat_bottom6_selected['y-ybar'][i]**2
    
s_strat3_sq = (Strat_bottom6_selected['y-ybar_sq'].sum())/(9-1)

var_ybar_strat3 = ((1-9/79)*s_strat3_sq)/9
print(var_ybar_strat1, var_ybar_strat2, var_ybar_strat3)

6.961821493624773 26.449360341151383 12.694952336302546

In [26]:
var_ybar_prop = (weight_top5**2)*var_ybar_strat1 + (weight_6to10**2)*var_ybar_strat2 + (weight_bottom6**2)*var_ybar_strat3
var_ybar_prop

4.198876799028234

In [27]:
se_ybar_prop = math.sqrt(var_ybar_prop)
se_ybar_prop

2.0491161018908213

## Create Stratified Random Sample w/ Neyman Allocation

In [28]:
random.seed(2019)

In [29]:
Strat_top5['y-ybar'] = ''
for i in range(0,122):
    Strat_top5['y-ybar'][i] = Strat_top5['PF**'][i]-ybar_top5
    Strat_top5['y-ybar_sq'][i] = Strat_top5['y-ybar'][i]**2
S1_sq = (Strat_top5['y-ybar_sq'].sum())/(Strat_top5['PF**'].count()-1)


Strat_6to10['y-ybar'] = ''
for i in range(0,67):
    Strat_6to10['y-ybar'][i] = Strat_6to10['PF**'][i]-ybar_6to10
    Strat_6to10['y-ybar_sq'][i] = Strat_6to10['y-ybar'][i]**2
S2_sq = (Strat_6to10['y-ybar_sq'].sum())/(Strat_6to10['PF**'].count()-1)


Strat_bottom6['y-ybar'] = ''
for i in range(0,79):
    Strat_bottom6['y-ybar'][i] = Strat_bottom6['PF**'][i]-ybar_bottom6
    Strat_bottom6['y-ybar_sq'][i] = Strat_bottom6['y-ybar'][i]**2
S3_sq = (Strat_bottom6['y-ybar_sq'].sum())/(Strat_bottom6['PF**'].count()-1)

S1 = math.sqrt(S1_sq)
S2 = math.sqrt(S2_sq)
S3 = math.sqrt(S3_sq)
print('S1_sq = {} , S1 = {}\n'.format(S1_sq,S1), 'S2_sq = {} , S2 = {}\n'.format(S2_sq,S2), 'S3_sq = {} , S3 = {}\n'.format(S3_sq,S3))

S1_sq = 134.68988062442605 , S1 = 11.605596952523642
 S2_sq = 130.01136363636363 , S2 = 11.402252568521872
 S3_sq = 115.37052864830642 , S3 = 10.741067388686583

<ipython-input-29-80ba0d0d002f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_top5['y-ybar'] = ''
<ipython-input-29-80ba0d0d002f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_top5['y-ybar'][i] = Strat_top5['PF**'][i]-ybar_top5
C:\Users\acer\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-29-80ba0d0d002f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_top5['y-ybar_sq'][i] = Strat_top5['y-ybar'][i]**2
<ipython-input-29-80ba0d0d002f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_6to10['y-ybar'] = ''
<ipython-input-29-80ba0d0d002f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_6to10['y-ybar'][i] = Strat_6to10['PF**'][i]-ybar_6to10
<ipython-input-29-80ba0d0d002f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_6to10['y-ybar_sq'][i] = Strat_6to10['y-ybar'][i]**2
<ipython-input-29-80ba0d0d002f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_bottom6['y-ybar'] = ''
<ipython-input-29-80ba0d0d002f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_bottom6['y-ybar'][i] = Strat_bottom6['PF**'][i]-ybar_bottom6
<ipython-input-29-80ba0d0d002f>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strat_bottom6['y-ybar_sq'][i] = Strat_bottom6['y-ybar'][i]**2

In [30]:
n1_ney = (n_SRS * count_top5*S1)/(count_top5 * S1 + count_6to10 * S2 + count_bottom6 * S3)
n2_ney = (n_SRS * count_6to10*S2)/(count_top5 * S1 + count_6to10 * S2 + count_bottom6 * S3)
n3_ney = (n_SRS * count_bottom6*S3)/(count_top5 * S1 + count_6to10 * S2 + count_bottom6 * S3)
print('n1 neyman = {}\n'.format(n1_ney), 'n2 neyman = {}\n'.format(n2_ney), 'n3 neyman = {}'.format(n3_ney))

n1 neyman = 14.961226569287382
 n2 neyman = 8.07244964449898
 n3 neyman = 8.966323786213637

In [31]:
# In this case we get the same strata sizes as proportional allocation
Strat_top5ney_drop = Strat_top5
Strat_6to10ney_drop = Strat_6to10
Strat_bottom6ney_drop = Strat_bottom6

Strat_top5ney_selected = pd.DataFrame(index = range(1,16),columns=['Points', 'Seed', 'Year'])
Strat_6to10ney_selected = pd.DataFrame(index = range(1,9),columns=['Points', 'Seed', 'Year'])
Strat_bottom6ney_selected = pd.DataFrame(index = range(1,10),columns=['Points', 'Seed', 'Year'])

i=0
for i in range(0,15):
    n = random.randint(0,121-i)
    Strat_top5ney_selected['Points'][i+1]= Strat_top5ney_drop['PF**'][n]
    Strat_top5ney_selected['Seed'][i+1]= Strat_top5ney_drop['Seed'][n]
    Strat_top5ney_selected['Year'][i+1]= Strat_top5ney_drop['TournamentYear'][n]
    Strat_top5ney_drop = Strat_top5ney_drop.drop(n)
    Strat_top5ney_drop.reset_index(drop=True, inplace=True)
    i+=1
    
i=0
for i in range(0,8):
    n = random.randint(0,66-i)
    Strat_6to10ney_selected['Points'][i+1]= Strat_6to10ney_drop['PF**'][n]
    Strat_6to10ney_selected['Seed'][i+1]= Strat_6to10ney_drop['Seed'][n]
    Strat_6to10ney_selected['Year'][i+1]= Strat_6to10ney_drop['TournamentYear'][n]
    Strat_6to10ney_drop = Strat_6to10ney_drop.drop(n)
    Strat_6to10ney_drop.reset_index(drop=True, inplace=True)
    i+=1
    
i=0
for i in range(0,9):
    n = random.randint(0,78-i)
    Strat_bottom6ney_selected['Points'][i+1]= Strat_bottom6ney_drop['PF**'][n]
    Strat_bottom6ney_selected['Seed'][i+1]= Strat_bottom6ney_drop['Seed'][n]
    Strat_bottom6ney_selected['Year'][i+1]= Strat_bottom6ney_drop['TournamentYear'][n]
    Strat_bottom6ney_drop = Strat_bottom6ney_drop.drop(n)
    Strat_bottom6ney_drop.reset_index(drop=True, inplace=True)
    i+=1

In [32]:
ybar_top5ney = Strat_top5ney_selected['Points'].mean()
ybar_6to10ney = Strat_6to10ney_selected['Points'].mean()
ybar_bottom6ney = Strat_bottom6ney_selected['Points'].mean()

print('Neyman Mean Top 5 = {}\n'.format(ybar_top5ney), 'Neyman Mean Middle 5 = {}\n'.format(ybar_6to10ney), 'Neyman Mean Bottom 6 = {}\n'.format(ybar_bottom6ney))

Neyman Mean Top 5 = 76.26666666666667
 Neyman Mean Middle 5 = 67.5
 Neyman Mean Bottom 6 = 62.111111111111114

In [33]:
frames_ney = [Strat_top5ney_selected, Strat_6to10ney_selected, Strat_bottom6ney_selected]
Stratney_total = pd.concat(frames_ney)
Stratney_total.reset_index(drop=True, inplace=True)
Stratney_total

   Points Seed  Year
0      64    3  2018
1      80    1  2019
2      65    2  2018
3      68    2  2019
4      75    4  2018
5      85    1  2019
6      70    2  2019
7      70    3  2018
8      80    2  2019
9      62    4  2018
10     69    3  2018
11     77    2  2019
12     99    3  2018
13    102    1  2018
14     78    5  2018
15     62    6  2018
16     67    9  2018
17     84    7  2019
18     54    9  2018
19     56    7  2019
20     76    7  2019
21     62    7  2018
22     79   10  2018
23     62   11  2018
24     58   12  2019
25     61   16  2018
26     71   16  2018
27     55   11  2018
28     55   14  2019
29     72   12  2019
30     68   12  2018
31     57   14  2019

In [34]:
Strat_totalney_mean = Stratney_total['Points'].mean()
Strat_totalney_stdev = Stratney_total['Points'].std()
Strat_totalney_count = Stratney_total['Points'].count()

print(" neyman stratified mean = {}\n".format(Strat_totalney_mean),"neyman stratified standard deviation = {}\n".format(Strat_totalney_stdev),"neyman stratified n = {}\n".format(Strat_totalney_count))

 neyman stratified mean = 70.09375
 neyman stratified standard deviation = 11.882107380698578
 neyman stratified n = 32

In [35]:
#Top 5
Strat_top5ney_selected['y-ybar'] = ''
Strat_top5ney_selected['y-ybar_sq'] = ''
for i in range(1,16):
    Strat_top5ney_selected['y-ybar'][i] = Strat_top5ney_selected['Points'][i] - ybar_top5ney
    Strat_top5ney_selected['y-ybar_sq'][i] = Strat_top5ney_selected['y-ybar'][i]**2
    
s_strat1ney_sq = (Strat_top5ney_selected['y-ybar_sq'].sum())/(15-1)
s_strat1ney = math.sqrt(s_strat1ney_sq)


var_ybar_strat1ney = ((1-15/122)*s_strat1ney_sq)/15


#Middle 5
Strat_6to10ney_selected['y-ybar'] = ''
Strat_6to10ney_selected['y-ybar_sq'] = ''
for i in range(1,9):
    Strat_6to10ney_selected['y-ybar'][i] = Strat_6to10ney_selected['Points'][i] - ybar_6to10ney
    Strat_6to10ney_selected['y-ybar_sq'][i] = Strat_6to10ney_selected['y-ybar'][i]**2
    
s_strat2ney_sq = (Strat_6to10ney_selected['y-ybar_sq'].sum())/(8-1)
s_strat2ney = math.sqrt(s_strat2ney_sq)

var_ybar_strat2ney = ((1-8/67)*s_strat2ney_sq)/8



#Bottom 6
Strat_bottom6ney_selected['y-ybar'] = ''
Strat_bottom6ney_selected['y-ybar_sq'] = ''
for i in range(1,10):
    Strat_bottom6ney_selected['y-ybar'][i] = Strat_bottom6ney_selected['Points'][i] - ybar_bottom6ney
    Strat_bottom6ney_selected['y-ybar_sq'][i] = Strat_bottom6ney_selected['y-ybar'][i]**2
    
s_strat3ney_sq = (Strat_bottom6ney_selected['y-ybar_sq'].sum())/(9-1)
s_strat3ney = math.sqrt(s_strat3ney_sq)

var_ybar_strat3ney = ((1-9/79)*s_strat3ney_sq)/9

In [36]:
var_ybar_ney = 1/32*((weight_top5*s_strat1ney + weight_6to10*s_strat2ney + weight_bottom6*s_strat3ney)**2) - 1/268*(weight_top5*s_strat1ney_sq + weight_6to10*s_strat2ney_sq + weight_bottom6*s_strat3ney_sq)
var_ybar_ney

2.8024364014359824

In [37]:
se_ybar_ney =math.sqrt(var_ybar_ney)
se_ybar_ney

1.6740479089428661